@import url('https://api.fontshare.com/css?f[]=clash-grotesk@200,300,400,500,600,700&display=swap');

a {
  text-decoration: none;
}

.support-button:hover {
  text-decoration: none;
}

.headline {
  position: relative;
  color: #f5f5f5;
  font-family: 'Clash Grotesk', sans-serif;
  line-height: 110%;
  font-size: clamp(40px, 3.5vw, 4vw);
  margin: 0 !important;
  white-space: nowrap;
}

.headline span {
  color: #FF005C;
}

.hero-container {
  background-color: #1B1B1D;
}

.haiku-header {
  background: linear-gradient(to bottom, transparent, #1B1B1D);
}

.hero-container {
  overflow: hidden;
  position: relative;
}

.hero-graphic {
  position: absolute;
  z-index: 0;
  right: -10%;
  top: 1em;
  transition: opacity .3s ease;
}

.hero-graphic-2 {
  position: absolute;
  z-index: 1;
  transform: rotatez(90deg);
  left: -30%;
  top: -60%;
  transition: opacity .3s ease;
}

.haiku-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #1B1B1D;
  margin-top: 5em;
  color: #f5f5f5;
}

.haiku-footer span {
  color: #FF005C;
}

.haiku {
  font-family: 'Clash Grotesk', sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.haiku a {
  color: #f5f5f5;
}

.haiku button {
  color: #f5f5f5;
}

.haiku a:hover {
  text-decoration: none !important;
}

.top-nav {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.menu-icon {
  color: #f5f5f5 !important;
  transition: color .2s ease;
  display: none;
}

.menu-icon:hover {
  color: #FF005C !important;
  transition: color .2s ease;
}

.nav-links a {
  margin: 0;
  margin-left: 2em;
  display: flex;
  color: #f5f5f5;
  font-weight: 500;
  align-items: center;
  font-size: 18px;
}

.overlay {
  opacity: 0;
  height: 300px;
  position: absolute;
  width: 100%;
  z-index: 99;
  background-color: #111;
  top: -300px;
  left: 0;
  transition: top .3s ease;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2em;
  align-items: flex-start;
  flex-direction: column;
  transition: top .3s ease, opacity .3s ease;
}

.overlay-links button {
  cursor: pointer;
  position: relative;
  font-size: 18px;
  padding: .8em 1.2em;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  border: 1px solid #555;
  background-color: #111;
  transition: border .2s ease;
  white-space: nowrap;
}

.overlay-links button:focus {
  border: 1px solid #ff005da5 !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 93, 0.25);
  transition: box-shadow .2s ease, border .2s ease;
}

.overlay-links {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.overlay-links a {
  font-size: 18px;
}

.visible {
  top: 0 !important;
  opacity: 1 !important;
  display: none !important;
  transition: top .3s ease, opacity .6s ease;
}

.nav-links .sponsor {
  font-family: 'Clash Grotesk', sans-serif;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  padding: .8em 1.2em;
  border-radius: 1rem;
  display: flex;
  font-weight: 500;
  align-items: center;
  border: 1px solid #555;
  background-color: #111;
  transition: border .2s ease;
  white-space: nowrap;
}

.sponsor:hover {
  border: 1px solid #ff005da5 !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 93, 0.25);
  transition: box-shadow .2s ease, border .2s ease;
}

.sponsor img {
  width: 24px;
  margin-right: .5em;
}

.nav-logo {
  position: relative;
  z-index: 999;
  width: 120px;
  height: auto;
}

.nav-img {
  margin: 0;
  width: 24px;
  height: auto;
}

.docs-link {
  transition: opacity 0.2s ease;
}

.docs-link:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.gh {
  transition: opacity 0.2s ease;
}

.gh:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.haiku-hero {
  background-color: #1B1B1D;
  width: 80%;
  margin: 0 auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-bar {
  position: relative;
  margin-top: 2em;
  z-index: 5;
  display: flex;
  align-items: center;
}

.button-bar .get-started {
  margin-right: 1em;
  font-size: 18px;
  height: 50px;
  padding: 0 1.5em;
  border-radius: 1rem;
  display: flex;
  font-weight: 500;
  align-items: center;
  border: none;
  background-color: #FF005C;
  white-space: nowrap;
  color: #f5f5f5;
  transition: padding .2s ease;
}

.get-started:hover {
  padding: 0 2em;
  transition: padding .2s ease;
}


.button-bar .get-started img {
  -webkit-user-drag: none;
  margin-left: .5em;
  width: 8px !important;
  height: auto;
}

.command {
  white-space: nowrap;
  cursor: pointer;
  border-radius: 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #111;
  border: 1px solid #555;
  color: #f5f5f5;
  font-size: 16px;
  padding: 0 1em;
  transition: box-shadow .2s ease, border .2s ease;
}

.command:hover {
  border: 1px solid #ff005da5 !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 93, 0.25);
  transition: box-shadow .2s ease, border .2s ease;
}

.command span {
  margin-right: .5em;
  color: #f5f5f5;
  font-weight: 500;
  font-size: 20px;
  user-select: none;
}

.command img {
  -webkit-user-drag: none;
  cursor: pointer;
  width: 18px;
  margin-left: 3em;
}


.features-container {
  min-height: 400px;
  padding: 6em 0;
}

.features {
  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, 1fr);
  gap: 2em;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #FF005C;
  outline: 3px solid transparent;
  border-radius: 25px;
  transition: background-color .3s ease, outline .3s ease;
}

.feature:hover {
  cursor: pointer;
  background-color: #1B1B1D;
  outline: 3px solid #ff005d84;
  transition: background-color .3s ease, outline .3s ease;
}

.feature:hover p img {
  transform: translateX(5px);
  transition: transform .2s ease;
}

.feature p img {
  transition: transform .2s ease;
}


.feature-stat {
  font-weight: 700;
  font-size: 60px;
  color: #FF005C;
  margin-bottom: 0;
}

.feature-title {
  margin-top: 0;
  font-weight: 500;
  font-size: 26px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.feature-title img {
  width: 10px;
  height: auto;
  margin-left: .3em;
  position: relative;
  top: 1px
}

.haiku-sponsors {
  width: 80%;
  margin: 0 auto;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #FF005C;
}

.supporters-title {
  text-align: center;
  color: #f5f5f5;
  font-size: 25px;
  margin-bottom: 0;
  font-weight: 500;
}

@media only screen and (max-width: 1265px) {
  .hero-graphic {
    opacity: 0.2;
    transition: opacity .3s ease;
  }

  .hero-graphic-2 {
    opacity: 0.2;
    transition: opacity .3s ease;
  }

  .feature-stat {
    font-weight: 700;
    font-size: 40px;
    color: #FF005C;
    margin-bottom: 0;
  }

  .feature-title {

    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .feature-stat {
    font-weight: 700;
    font-size: 30px;
    color: #FF005C;
    margin-bottom: 0;
  }

  .feature-title {

    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
  }

  .feature-title img {
    width: 6px;
    top: 0;
  }
}

@media only screen and (max-width: 850px) {
  .features {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, 1fr);
  }

  .feature-stat {
    font-size: 40px;
  }

  .feature-title {
    font-size: 25px;
  }

  .feature-title img {
    width: 9px;
  }
}

@media only screen and (max-width: 700px) {
  .visible {
    display: flex !important;
  }

  .hero-graphic {
    position: absolute;
    z-index: 0;
    right: 0em;
    top: 50%;
  }

  .menu-icon {
    position: relative;
    z-index: 999;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    font-size: 18px;
  }

  .headline {
    user-select: none;
    font-size: clamp(38px, 2.5vw, 4vw);
  }

  .button-bar {
    align-items: flex-start;
    flex-direction: column;
  }

  .get-started {
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
  }

  .command {
    width: 100%;
    position: relative;
  }

  .command img {
    position: absolute;
    right: 1em;
  }

  .top-nav .nav-links {
    display: none;
  }
}

.support-button {
  font-family: 'Clash Grotesk', sans-serif;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  padding: .8em 1.2em;
  border-radius: 1rem;
  display: flex;
  font-weight: 500;
  align-items: center;
  border: 1px solid #555;
  background-color: #1B1B1D;
  transition: box-shadow .2s ease, border .2s ease;
}

.support-button:hover {
  border: 1px solid #ff005da5 !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 93, 0.25);
  transition: box-shadow .2s ease, border .2s ease;
}

.support-button:focus {
  border: 1px solid #ff005da5 !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 93, 0.25);
  transition: box-shadow .2s ease, border .2s ease;
}

.support-button img {
  margin-right: .5em;
}

.support-description {
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .headline {
    font-size: 30px;
    white-space: normal;
  }

  .headline br {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .features {
    grid-auto-rows: minmax(150px, 1fr);
  }

  .feature-stat {
    font-size: 30px;
  }

  .feature-title {
    font-size: 20px;
  }

  .feature-title img {
    width: 6px;
  }
}